li{
	background-color: lightblue;
	width: 100px;
	height: 30px;
	border: 10px solid white;
	float: left;
	list-style-type: none;
	text-align: center;
	line-height: 30px;
}
li a{
	text-decoration: none;
	color: black;
	display: block;
}
li a:hover{
	background-color: lightpink;
}